.contact-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.contact-item {
  width: 100%;
  margin-bottom: 20px;
}

.contact-item img {
  width: 50%;
  align-items: flex-end;
}

.contact-content p {
  margin-bottom: 0px!important;
}



@media only screen and (min-width: 650px) {

  .contact-item {
    display: table;
    width: 50%;
    height: 25vh;
  }
  .contact-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .image {
    display: block;
  }

  .image img {
    float: right;
  }

  .info {
    text-align: left;
    padding-left: 20px;
  }
}
