/* Clearing all browser styles */
* {
  margin: 0; /*This makes it so there isn't any white space around the edges*/
  padding: 0;
  box-sizing: border-box;/*This makes the 'width' element include the padding and margins*/
}

body{
  align-items: center;
  text-align: center;
}

/*This makes sure the header is always visable on the page*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.mb-4 {
  margin-bottom: 0!important; /*Overwrites some annoying padding*/
}

.logo {
  height: 60px;
}

/*This makes sure the header and footer don't
  cover any of the content*/
.main-body {
  margin-top: 100px;
  margin-bottom: 160px;
}

/*This makes sure the footer stays at the bottom
  of the page*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}




/* Desktop */
@media only screen and (min-width: 990px) {
  body{
    width: 990px;
    margin: 0 auto;
  }

  .navbar {
    width: 990px;
  }

  .footer {
    width: 999px;
  }
}
